.row-fluid
  .span12
    = link_to 'New Variant', new_manual_subject_laboratory_variant_path
    
%ol
  = render @manual_variants

%br.clearfix

.row-fluid
  .span12
    = link_to 'New Variant', new_manual_subject_laboratory_variant_path
